<h1> <%= @link.title %> </h1>
<h2> by: <%= @link.user.username %> </h2>
<h3> <%= @link.url %> </h3>

Add Comment
<form class="" action="<%= comments_url %>" method="post">
  <input type="hidden" name="comment[link_id]" value="<%= params[:id] %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Comment
    <input type="text" name="comment[body]" value="<%= @comment.body if @comment %>">
  </label>

  <input type="submit" name="" value="Add Comment">

</form>


Comments:
<ul>
  <% @link.comments.each do |comment| %>
  <li><%= comment.body %> | <%= button_to "Remove Comment", comment_url(comment), method: :delete %> </li>
  <% end %>
</ul>

<footer>
Return to <%= link_to "Links", links_url %> Index
<%= link_to "Edit Link", edit_link_url(@link) %>
</footer>
