<h1> <%= @post.title %></h1>
<h2> <%= @post.user.username %></h2>
<h3> <%= @post.body %> </h3>

Tags
<ul>
  <% @post.tags.each do |tag| %>
    <%= tag.name %> | <%= button_to "Remove Tag", tag_url(tag), method: :delete %>
  <% end %>
</ul>

<b>Add Tag</b>
<form class="" action="<%= tags_url %>" method="post">
  <input type="hidden" name="tag[post_id]" value="<%= params[:id]%>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Tag Name
    <input type="text" name="tag[name]" value="<%= @tag.name if @tag %>">
  </label>

<input type="submit" name="" value="Add Tag">

</form>


<footer>
<%= link_to "Edit Post", edit_post_url(@post) %>
<%= link_to "All Posts", posts_url %>
</footer>
